
<div style="margin-top:6em">
  <div class="container div-main">
    <div class="row">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalAddCategory"
            data-dismiss="modal">Add Category
    </button>
    <tabset>
        <tab ng-repeat="category in categories" heading={{category.name}} select="setCategory(category)">
            <div>
                <button type="button" class="btn btn-default" ng-click="deleteCategory(category)">Delete Category
                </button>
                <button type="button" class="btn btn-default" ui-sref="edit-category({id:category.id})">edit category
                </button>
            </div>
            <form>
                <input ng-model="subCategoryName.content" type="text" class="form-control">
                <button class="btn btn-default btn-sm" ng-click="addSubCategory()">ADD SUBCATEGORY</button>
            </form>
            <hr/>
            <div ng-repeat="subcategory in subCategories">
                <span ng-if="subcategory.category.id==selectedCategory.id">{{subcategory.name}}
                    <button class="btn btn-default btn-sm" ui-sref="edit-subcategory({id:subcategory.id})">EDIT</button>
                    <button class="btn btn-default btn-sm" ng-click="deleteSubCategory(subcategory)">DELETE</button>
                </span>
            </div>
        </tab>

    </tabset>
    <div class="modal fade" id="modalAddCategory" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ADD Category</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="col-md-3">
                            Name:
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Name" ng-model="newCategory.name">
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" ng-click="addCategory()"
                            data-dismiss="modal">
                        <i class="glyphicon glyphicon-check">Add</i>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <label ng-repeat="branch in branches">
            <input type="radio" ng-model="$parent.selected" value="{{branch.id}}" ng-change="onChange(branch)"> {{ branch.name }}
        </label>
        <br>
         Selected thing: {{selected}}
    </div>
</div>
</div>
</div>
