<div class="container div-main">
    <div class="container-fluid">
        <div class="row">
            <div class="homediv-up col-md-9 col-md-push-3">
                <div class="panel panel-up panel-danger">
                    <div class="panel-heading">RECENTLY ADDED:</div>
                    <div class="notif-panel panel-body">
                    </div>
                </div>
            </div>
            <div class="homediv-down col-md-9 col-md-push-3">
                <div class="panel panel-down panel-danger">
                    <div class="panel-heading">RECENTLY PURCHASED:</div>
                    <div class="notif-panel panel-body">
                    </div>
                </div>
            </div>
            <div class="homediv-side col-md-3 col-md-pull-9">
                <div class="panel panel-danger">
                    <div class="panel-heading">NOTIFICATIONS:</div>
                    <div class="notif-panel panel-body">
                        NONUSERS:
                        {{currentUser.id}}
                        <div ng-repeat="user in nonUsers">
                            <div>
                                {{ user.username }}
                                <button class="btn btn-info" ng-if="isAdmin()" ng-click="changeStatus(user.id)">GRANT
                                    ACCESS
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
