<div style="margin-top:6em">
    
</div>
<div>
	TRANSACTION # {{ one.id }}
	<div>
		Supplier Name: {{ one.supplier }} <br>
		Contact Number: <br>
		Address: <br>
		Date Ordered: {{ one.dateOrdered }} <br>
		Ship Via: {{ one.shipVia }} <br>
		Ordered by: {{ one.branch }}
	</div>
	<button class="btn btn-info btn-lg">PRINT</button>
	<!-- <button class="btn btn-info btn-lg" ng-click="print('waow')">PRINT</button> -->
	<h2>PURCHASE ORDER TRANSACTION WITH PRODUCTS</h2>

	<h4>Angular-xeditable Editable row (Bootstrap 3)</h4>
	<table class="table table-bordered table-hover table-condensed">
			<tr style="font-weight: bold">
				<td>Photo</td>
				<td style="width:10%">Product Name</td>
				<td style="width:10%">Quantity</td>
				<td style="width:10%">Unit</td>
				<td style="width:10%">Stock Number</td>
				<td style="width:10%">Color</td>
				<td style="width:15%">Description</td>
				<td style="width:10%">Unit Price</td>
				<td style="width:10%">
					<button class="btn btn-primary" data-toggle="modal" data-target="#modalAddOrder" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span> Add Order</button>
				</td>
			</tr>
			<tr ng-repeat="product in products">
				<td>
					picture
				</td>
				<td>
					{{ product.product }}
				</td>
				<td>
					<span editable-text="product.quantity" e-name="quantity" e-form="rowform" e-required>
	  	{{ product.quantity || 'empty'}}
	</span>
				</td>
				<td>
					<span editable-text="product.unit" e-name="unit" e-form="rowform" e-required>
	  	{{ product.unit || 'empty'}}
	</span>
				</td>
				<td>
					<span editable-text="product.stockNumber" e-name="stockNumber" e-form="rowform" e-required>
	  	{{ product.stockNumber || 'empty'}}
	</span>
				</td>
				<td>
					<span editable-text="product.color" e-name="color" e-form="rowform" e-required>
	  	{{ product.color || 'empty'}}
	</span>
				</td>
				<td>
					<span editable-text="product.description" e-name="description" e-form="rowform" e-required>
	  	{{ product.description || 'empty'}}
	</span>
				</td>
				<td>
					<span editable-text="product.unitPrice" e-name="unitPrice" e-form="rowform" e-required>
	  	{{ product.unitPrice | currency:"₱" }}
	</span>
				</td>
				<!-- <td>
		{{ product.quantity * product.price }}
	</td> -->
				<td style="white-space: nowrap">
					<!-- form -->
					<form editable-form name="rowform" onbeforesave="saveUser($data, product.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == product">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
							save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
							cancel
						</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
						<button class="btn btn-danger" ng-click="removeUser($index, product)">del</button>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Total: {{ getTotal() | currency:"₱"}}</td>
			</tr>
		</table>
</div>

<div class="modal fade" id="modalAddOrder" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Product</h4>
					<div>
						<label>
							<input type="radio" ng-model="$parent.selected" value="old" ng-change="onChange('old')"> OLD
						</label>
						<label>
							<input type="radio" ng-model="$parent.selected" value="new" ng-change="onChange('new')"> NEW
						</label>
						<!-- <br> Selected thing: {{selected}} -->
					</div>
				</div>
				<div class="modal-body">

					<div ng-show="selected=='old'">
						<div class="form-group">
							EXISTING PRODUCT
							<select ng-model="storageProduct" class="form-control">
								<option ng-repeat="prod in prods" value="{{prod.id}}">{{ prod.product }}</option>
							</select>
							{{ storageProduct }}
						</div>
					</div>

					<!-- <select ng-model="product">
			<option ng-repeat="product in productss" value="{{product.id}}">{{ product.name }}</option>
		</select> -->
					<div ng-show="selected=='new'">
						NEW PRODUCT
						<div class="form-group">
							<input type="text" ng-model="productName" class="form-control" placeholder="Product Name">
						</div>
						<div class="form-group">
							<input type="text" ng-model="productColor" class="form-control" placeholder="Color">
						</div>
						<div class="form-group">
							<input type="text" ng-model="productSize" class="form-control" placeholder="Size">
						</div>
						<div class="form-group">
							<input type="text" ng-model="productDescription" class="form-control" placeholder="Description">
						</div>
						<!-- Stock Number: <input type="text" ng-model="productStockNumber"> -->
						<div class="form-group">
							<input type="text" ng-model="stockNumber" class="form-control" placeholder="Stock Number">
						</div>
						<div class="form-group">
							<input type="text" ng-model="productPrice" class="form-control" placeholder="Price">
						</div>
						<div class="form-group">
							<!-- <input type="file"> -->
						</div>
					</div>

					<div class="form-group">
						<input type="text" ng-model="quantity" class="form-control" placeholder="Quantity">
					</div>
					<div class="form-group">
						<input type="text" ng-model="unit" class="form-control" placeholder="Unit">
					</div>
					<div class="form-group">
						<input type="text" ng-model="description" class="form-control" placeholder="Description">
					</div>
					<div class="form-group">
						<input type="text" ng-model="unitPrice" class="form-control" placeholder="Unit Price">
					</div>
				</div>
				<div class="modal-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addUser()" data-dismiss="modal">
            <span class="glyphicon glyphicon-check"></span> Submit
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
			</div>
		</div>
	</div>