<div class="container" style="margin-top:2em">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-12">
        <h1>PRODUCT INVENTORY</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="" ui-sref="categories">Add Category</a>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="category in Categories" select="setCategory(category)">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{category.name}}" aria-expanded="true" aria-controls="{{category.name}}">
                              {{category.name}}
                            </a>
                          </h4>
          </div>
          <div id="{{category.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div ng-repeat="subcategory in subCategories">
              <div ng-if="subcategory.category.id==category.id">
                <div class="panel-body">
                  <a href="...">{{subcategory.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
          <tbody>
            <tr>
              <th>
                <select ng-model="searchBy" class="form-control">
                  <option value="" selected>Global Search</option>
                  <option value="name">Name</option>
                  <option value="color">Color</option>
                  <option value="size">Size</option>
                  <option value="stock_number">Stock Number</option>
                  <option value="price">Price</option>
                </select>
              </th>
              <th>
                <input st-search="{{searchBy}}" class="form-control" placeholder="Input Text">
              </th>
              <th>
                <button type="button" class="btn btn-primary" ui-sref="add-product" name="addProducts"><span class="glyphicon glyphicon-plus"></span> Add Product
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <tbody>
          <tr ng-repeat="row in displayedCollection">
            <td>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="showModal(row.id)" style="border-width: 0px; border-collapse: collapse">
                <span ng-if="checkPicture(row)">
                        <img ng-src="../BigJRepository/images/{{location}}" width="100">
                    </span>
              </button>
            </td>
            <td></td>
            <td></td>
            <td>
              <a href="#" data-toggle="modal" data-target="#myModalDisplay" ng-click="showModal(row.id)">
                <span ng-if="!row.hasIncreasedPrice && isUpdated(row) && isPriceChanged(row)" style="color: red;font-weight: bold">{{row.name}}</span>
                <span ng-if="!row.hasIncreasedPrice && isUpdated(row) && !isPriceChanged(row)" style="color: black;font-weight: bold">{{row.name}}</span>
                <span ng-if="row.hasIncreasedPrice && isUpdated(row) && isPriceChanged(row)" style="color: blue;font-weight: bold">{{row.name}}</span>
                <span ng-if="!isUpdated(row)">{{row.name}}</span>
              </a>
            </td>
            <td>{{row.price}}{{}}</td>
            <td>
              <button type="button" ng-click="removeItem(row)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <img ng-src="../BigJRepository/images/{{oneProduct.id}}.{{oneProduct.photo_extension}}" width="500">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalEdit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit item</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="col-md-3">
            Item name:
          </div>
          <div class="col-md-8">
            <input class="form-control" id="inputItemName" placeholder="Item Name" ng-model="oneProduct.name">
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Description:
          </div>
          <div class="col-md-8">
            <textarea class="form-control" id="inputDescription" placeholder="Description" ng-model="oneProduct.description"></textarea>
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Stock Number:
          </div>
          <div class="col-md-8">
            <input class="form-control" id="inputStockNumber" placeholder="Stock Number" ng-model="oneProduct.stock_number">
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Color:
          </div>
          <div class="col-md-8">
            <input class="form-control" id="inputColor" placeholder="Color" ng-model="oneProduct.color">
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Size:
          </div>
          <div class="col-md-8">
            <input class="form-control" id="inputSize" placeholder="Size" ng-model="oneProduct.size">
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Subcategory:
          </div>
          <div class="col-md-8">
            <select ng-model="oneProduct.subCategory" class="form-control input-sm">
              <option ng-repeat="item in subCategories" value="{{ item.id}}">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="col-md-3">
            Price:
          </div>
          <div class="col-md-8">
            <input class="form-control" id="inputPrice" placeholder="Price" ng-model="oneProduct.price">
          </div>
        </div>
        <form ng-app="fileUpload" name="form">
          <div>
            <img ng-src="../BigJRepository/images/{{oneProduct.id}}.{{oneProduct.photo_extension}}" width="100">
            <input type="file" ngf-select ng-model="editFile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}" class="btn btn-default">
          </div>
        </form>
      </div>
      <br>
      <br>

      <div class="modal-footer">
        <button class="btn btn-success" ng-click="update(oneProduct.id)" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Update
          <button class="btn btn-danger" data-dismiss="modal"> Close</button>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalDisplay" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View item</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            Item name:
          </div>
          <div class="col-md-8">
            {{oneProduct.name}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Description:
          </div>
          <div class="col-md-8">
            {{oneProduct.description}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Stock Number:
          </div>
          <div class="col-md-8">
            {{oneProduct.stock_number}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Color:
          </div>
          <div class="col-md-8">
            {{oneProduct.color}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Size:
          </div>
          <div class="col-md-8">
            {{oneProduct.size}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Subcategory:
          </div>
          <div class="col-md-8">
            {{getSubCategory(oneProduct.subCategory.id).name}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Price:
          </div>
          <div class="col-md-8">
            {{oneProduct.price}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Images:
          </div>
          <div class="col-md-8">
            <img ng-src="../BigJRepository/images/{{oneProduct.id}}.{{oneProduct.photo_extension}}" width="100">
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalEdit" ng-click="edit(oneProduct.id)" data-dismiss="modal">
          <span class="glyphicon glyphicon-check"></span> Update
        </button>
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button> -->
      </div>
    </div>
  </div>
</div>
