<div class="container div-main add-product">
  <div class="container-fluid">
    <div class="panel panel-danger">
      <div class="panel-heading">ADD ITEM</div>
      <div class="panel-body">
        <div>
          <input class="form-control" id="inputItemName" placeholder="Item Name" ng-model="formInfo.itemName">
        </div>
        <div>
          <textarea class="form-control" id="inputDescription" placeholder="Description" ng-model="formInfo.description">
          </textarea>
        </div>
        <div>

          <input class="form-control" id="inputStockNumber" placeholder="Stock Number" ng-model="formInfo.stockNumber">
        </div>
        <div>
          <input class="form-control" id="inputColor" placeholder="Color" ng-model="formInfo.color">
        </div>
        <div>


          <input class="form-control" id="inputSize" placeholder="Size" ng-model="formInfo.size">
        </div>
        <div>
          <input class="form-control" id="inputPrice" placeholder="Price" ng-model="formInfo.price">
        </div>
        <div>
          <form ng-app="fileUpload" name="form">
            <td>
              <input class="form-control" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}" class="btn btn-default submit_photo">
              <!--<button type="submit" ng-click="submit()">submit</button> -->
            </td>
          </form>
        </div>
        <div>
          <button type="button" class='form-control btn btn-success' ng-click="add()" name="save" ui-sref="products"><i class="glyphicon glyphicon-plus">ADD PRODUCT</i></button>
        </div>
        <div>
          <button type="button" class='form-control btn btn-primary' ui-sref="products"><i class="glyphicon glyphicon-remove">CLOSE</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
