<div style="margin-top:6em">
    
</div>
<div>
	<h1>PURCHASE ORDER TRANSACTIONS</h1>
	<div ng-repeat="transaction in transactions">
		<a ui-sref="purchase-order-transaction({id: transaction.id})">Supplier: {{ transaction.supplier }}</a> - {{ transaction.id }} <br>
		Date Ordered: {{ transaction.dateOrdered }}
		<hr>
	</div>
</div>