<div class="signin container div-main">
  <div class="col-md-6 col-md-offset-3">
    <h3>Sign in to access the page</h3>
    <div class="jumbotron vertical-center container-fluid">
      <img class="imglogosquare" src="../BigJRepository/images/square.png">
      <div class="form-group">
        <input type="text" placeholder="username" class="form-control" ng-model="username" />
      </div>
      <div class="form-group">
        <input type="password" placeholder="password" class="form-control" ng-model="password" />
      </div>
      <div>
        <!-- <label ng-repeat="branch in branches">
          <input type="radio" ng-model="$parent.selected" value="{{branch.id}}" ng-change="onChange(branch)"> {{ branch.name }}
        </label> -->

      </div>
      <div class="form-group pull-right">
        <button type="submit" class="btn btn-primary" ng-click="login()">Sign In</button>
      </div>
    </div>
    <a href="#" ui-sref="signup">Create an account</a>
  </div>
</div>
