<div class="signin container div-main">
    <div class="col-md-6 col-md-offset-3">
        <h3>Create an Account</h3>

        <div class="jumbotron vertical-center container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-6">
                    <input type="text" class="form-control" placeholder="First Name"/>
                </div>
                <div class="col-xs-4 col-sm-6">
                    <input type="text" class="form-control" placeholder="Last Name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" placeholder="Username" class="form-control" ng-model="formInfo.username"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="password" placeholder="Password" class="form-control" ng-model="formInfo.password"/>
                </div>
            </div>
            <div>
                <!-- <label ng-repeat="branch in branches">
                  <input type="radio" ng-model="$parent.selected" value="{{branch.id}}" ng-change="onChange(branch)"> {{ branch.name }}
                </label> -->
                <select ng-model="formInfo.branch" class="form-control">
                    <option ng-repeat="branch in branches" value="{{branch.id}}">{{ branch.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary" ng-click="create()" ui-sref="signin">Create
                    Account
                </button>
            </div>
        </div>
    </div>
</div>
