<div class="container div-main">
  <h2>Storage</h2>
  <hr>
  <div class="col-md-6 col-md-offset-3">
    <div class="storage">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <tbody>
          <tr>
            <th st-sort="name">Item Name</th>
            <th st-sort="branch">Branch</th>
            <th st-sort="price">Price</th>
            <th st-sort="quantity">Quantity</th>
            <th st-sort="edit">Update</th>
          </tr>
          <tr ng-repeat="row in displayedCollection | filter:{ branch: { id: branch } }">
            <td>
              {{getProduct(row.product.id).name}}
            </td>
            <td>
              {{row.branch.id}}
            </td>
            <td>
              {{getProduct(row.product.id).price}}
            </td>
            <td>
              {{getProduct(row.product.id).quantity}}
            </td>
            <td>
              <!-- <span ng-if="accessAllowed()"><input type="button" class="form-control" value="Update"/> </span> -->
              <div class="form-group">
                <button type="button" ng-if="accessAllowed()" class="btn btn-info form-control" data-toggle="modal" data-target="#myModalComingIn">Coming In</button>
              </div>
              <div class="form-group">
                <button type="button" ng-if="accessAllowed()" class="btn btn-success form-control" data-toggle="modal" data-target="#myModalComingOut" />Coming Out</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-size modal fade" id="myModalComingIn" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p> How many products will come in? </p>
      </div>
      <div class="modal-body">
        <input type="number" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">
          <span class="glyphicon glyphicon-check"></span> Submit
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalComingOut" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p> How many products will come out? </p>
      </div>
      <div class="modal-body">
        <input type="number" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">
          <span class="glyphicon glyphicon-check"></span> Submit
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>
  </div>
</div>
