<div class="container div-main">
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron vertical-center container-fluid">
			<h2>Add Supplier</h2>
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <input type="text" ng-model="supplierName" class="form-control" id="supplierName" placeholder="Name of Supplier">
			  </div>
			  <div class="form-group">
			    	<input type="text" ng-model="supplierContactNumber" class="form-control" id="supplierContactNumber" placeholder="Supplier Contact Number">
			  </div>
			  <div class="form-group">
		  		<input type="text" ng-model="supplierAddress" class="form-control" id="supplierAddress" placeholder="Supplier Address">
			  </div>
			  <div class="form-group pull-right">
			    <button class="btn btn-primary" ng-click="add()">Submit</button>
			  </div>
			</form>
		</div>
	</div>
</div>
