<div style="margin-top:6em">

</div>
<div class="container div-main">
	<div class="row">

	TRANSACTION # {{ one.id }}
	<div>
		Client Name: {{ one.client }} <br>
		Contact Number: {{  }} <br>
		Address: {{  }} <br>
		Branch: {{ one.branch }} <br>
		Date Created: {{  }}
		<button class="btn btn-info btn-lg">PRINT</button>
	</div>
	<h2>PRICELIST TRANSACTION WITH PRODUCTS</h2>

	<div>
          <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
              <td>Photo</td>
              <td style="width:15%">Product Name</td>
              <td style="width:15%">Stock Number</td>
              <td style="width:15%">Unit Price</td>
              <td style="width:15%">Price</td>
              <td style="width:25%">
                <button data-toggle="modal" data-target="#modalAddProduct" data-dismiss="modal" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Add Product</button>
              </td>
            </tr>
            <tr ng-repeat="product in products">
              <td>
                picture
              </td>
              <td>
                <span editable-select="product.product" e-name="product" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.id for g in groups">
      	          	{{ showGroup(product) }}
      	        </span>
              </td>
              <td>
      	          	{{ product.stockNumber }}
      	        </span>
              </td>
              <td>
      	          	{{ product.product }}
      	        </span>
              </td>
              <td>
                <span editable-text="product.price" e-name="price" e-form="rowform" e-required>
                {{ product.price || 'empty' }}
              </td>
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveUser($data, product.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == product">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                  <button class="btn btn-danger" ng-click="removeUser($index, product)">del</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
</div>
</div>
<div class="modal fade" id="modalAddProduct" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Product</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <select class="form-control" ng-model="product" ng-change="selectedItemChanged(product)">
              <option ng-repeat="product in productss" value="{{product.id}}">
                {{ product.product }}
              </option>
            </select>
          </div>
          <div class="form-group" >
            Stock Number: <span ng-model="stockNumber">{{ itemInstance.stockNumber }}</span>
          </div>
          <div class="form-group" >
            <!-- {{ itemInstance.quantity }} -->
            Unit Price: <span ng-model="unitPrice">{{ itemInstance.product }}</span>
            <!-- <input type="text" ng-model="unitPrice" class="form-control" placeholder="Unit Price"> -->
          </div>
          <div class="form-group">
            <input type="text" ng-model="price" class="form-control" placeholder="Price">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addUser()" data-dismiss="modal">
            <i class="glyphicon glyphicon-check">Add</i>
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>