.app_name {
  font-family: fantasy;
  font-style: normal;
  color: white;
}
.submit_photo {
  width: 160px;
}
.div-main {
  margin-top: 6em;
}
textarea {
  resize: none;
  height: 30em;
}
.nav-color {
  background-color: rgba(144, 5, 1, 0.95);
}
.nav-text {
  color: #ffffff;
  font-size: 0.9em;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  /*font-size: 24px;*/
  font-style: normal;
  font-variant: normal;
  font-weight: 500
}
.homediv {
  border-style: solid;
  padding: 1em;
  /*margin-right: 1em;*/
}
.signinbanner {
  width: 60em;
}
.signinform {
  width: 0.5em;
}
.notif-panel {
  width: 2em;
  height: 45em;
}
.homediv-up {
  top: 3.9em;
  left: 23em;
}
.homediv-down {
  top: 5em;
  left: 23em;
}
.homediv-side {
  bottom: 20em;
}
.panel-up {
  width: 58.5em;
  height: 22em;
}
.panel-down {
  width: 58.5em;
  height: 23em;
}
.add-product {
  text-align: center;
  width: 30em;
}
.imgtop{
	width: 21em;
	height: 3.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	overflow: hidden;
}

.banner{
	max-height: 100%;
	max-width: 100%;
}

.header-top {
	position: relative;
	background: #233751;
	min-width: 1000px;
	height: 25px;
}

.layout-wrapper {
	position: relative;
	/*width: 1200px;*/
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 11px;
}

.header__navigation li {
	display: inline-block;
}
.dropdown__container {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header__navigation__item {
	margin-left: 1200px;

}

.header__navigation__item__text {
	cursor: pointer;
	padding: 0 5px;
	/*display: inline-table;*/
	white-space: nowrap;
}

li, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.imglogosquare {
  width: 7em;
  height: 7em;
  padding: 1em;
}
.banner {
  max-height: 100%;
  max-width: 100%;
}
.signin {
  text-align: center;
  vertical-align: middle;
}
